@* @model List<Post>
@foreach(var item in Model){
    <div>
    @item.title
    </div>
    <div>
    @item.content
    </div>
} *@
<div class=".container-sm mt-5">
    <div class="row justify-content-center">
        <div class="col-8 d-flex   bg-white" style="border-radius:6px">
            ssfs
        <div>
    </div>
</div>
