@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}
@* <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<section class="manuals py-5 my-5" id="HDSD">
    <div class="container">
        <div class="using">
            <h2 class="title text-capitalize">cách sử dụng</h2>
            <p>Sau khi <span>vào website</span>, sử dụng dễ dàng với 3 bước: Tìm xe - Liên hệ - Trả xe</p>
            <div class="owl-carousel owl-theme " id="manualsct">
                <div class="item" data-dot="
              <button>1</button>
              <h2>Đăng ký thuê xe</h2>
              <p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
                <div class="item"
                     data-dot="

                  <button>2</button>
                  <h2>liên hệ</h2>
                  <p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
                <div class="item"
                     data-dot="

                      <button>3</button>
                      <h2>Trả xe</h2>
                      <p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
            </div>
        </div>
    </div>
</section> *@
<div>
    <img src="~/img/banner.jpg" style="width:100% ; height:300px" >
</div>
<div class=".container-md mt-5 ">
    <div class="row justify-content-center">
        <div class="col-8 d-flex   bg-white"  >
            <div >
                <h3>Bài viết mới nhất</h3>
                <div class="d-flex ">
                    <div >
                        <img src="~/img/Apple-Vision-Pro.webp" style="width:220px; height: 160px ; border-radius:8px"/>
                    </div>
                    <div class="ms-2">
                        <h4 >
                            <b>Apple Vision Pro đã biến mất như chưa từng tồn tại, người ta không còn nói về nó nữa... </b>
                        </h4>
                        <p>Sau một số bài chia sẻ trải nghiệm Vision Pro của mình với anh em thì mình đã không còn biết dùng nó vào việc gì nữa. Đưa cho Didu mượn ít hôm, Anh Tú. mượn mấy hôm… rồi lại bỏ vào túi treo trong tủ chứ chẳng biết làm gì với nó…</p>
                    </div>
                </div>

                <div class="d-flex mt-4">
                    <div >
                        <img src="~/img/galaxy.webp" style="width:220px; height: 160px ; border-radius:8px "/>
                    </div>
                    <div class="ms-2">
                        <h4 >
                            <b>Trải nghiệm Samsung One UI 6.1 trên Galaxy S23 </b>
                        </h4>
                        <p>Mình đã cập nhật One UI 6.1 cho Galaxy S23 của mình, phiên bản chính thức từ Samsung và nó cũng đi theo bộ tính năng Galaxy AI. Với trải nghiệm của mình sau 1 ngày, các tính năng Galaxy AI trên S23 không khác gì so với Galaxy S24, đầy đủ các tính năng. </p>
                    </div>
                </div>
                 <div class="d-flex mt-4">
                    <div >
                        <img src="~/img/applemenubar.webp" style="width:220px; height: 160px ; border-radius:8px"/>
                    </div>
                    <div class="ms-2">
                        <h4 >
                            <b>Top 5 ứng dụng tận dụng triệt để menu bar trên macOS, mời anh em chia sẻ thêm </b>
                        </h4>
                        <p>Thanh Menubar của macOS trước đây tưởng chừng vô dụng nhưng khi tìm hiểu thêm thì mình có biết 1 số app giúp tối ưu hoá tốt hơn không gian của menubar. Trong bài viết này mình sẽ chia sẻ 5 ứng dụng mình thấy hữu ích tối ưu của menubar</p>
                    </div>
                </div>

                 <div class="d-flex mt-4">
                    <div >
                        <img src="~/img/pin.webp" style="width:220px; height: 160px ; border-radius:8px"/>
                    </div>
                    <div class="ms-2">
                        <h4 >
                            <b>Trên tay và review nhanh cục sạc “siêu mỏng cánh” Cuktech Ultra Slim 65W </b>
                        </h4>
                        <p>Trong khi cái balo của mình ngày một lỉnh kỉnh và nhiều đồ, cục sạc là phụ kiện dễ thấy có thể gọn lại đầu tiên. Và trên con đường tìm kiếm một chân ái, mình đã vớ được em Cuktech Ultra Slim 65W này.</p>
                    </div>
                </div>
                 <div class="d-flex mt-4">
                    <div >
                        <img src="~/img/sony.webp" style="width:220px; height: 160px ; border-radius:8px"/>
                    </div>
                    <div class="ms-2">
                        <h4 >
                            <b>Chút cảm nhận về Xperia 5 V</b>
                        </h4>
                        <p>Sau Xperia 1 V thì mình cũng muốn mượn Xperia 5 V dùng thử xem trải nghiệm như thế nào. Quả thực ngày nay tìm được một chiếc điện thoại Android cao cấp kích thước nhỏ gọn là rất khó, Zenfone bây giờ cũng đi theo trào lưu Ultra rồi. Xperia 5 V được cả nhỏ gọn và khác biệt nhưng Sony muốn bán nó với giá 22 triệu.</p>
                    </div>
                </div>


                 
            </div>
        <div>
    </div>
</div>
<hr class="mt-4">
<div>
    <h3>Thông tin liên hệ</h3>
    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-4 d-flex justify-content-center  align-items-center">
        <i class="fa-solid fa-location-dot"></i> <p>  96 P.Định Công, Q.Hoàng Mai, TP.Hà Nội</p>
        </div>
        <div class="col-4 d-flex justify-content-center  align-items-center">
        <i class="fa-solid fa-phone"></i><p>  0868686868</p>
        </div>
        <div class="col-4 d-flex justify-content-center  align-items-center">
        <i class="fa-solid fa-envelope"></i><p>  socailview.contact@gmail.com</p>
        </div>
    </div>
</div>


