@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<section class="manuals py-5 my-5" id="HDSD">
    <div class="container">
        <div class="using">
            <h2 class="title text-capitalize">cách sử dụng</h2>
            <p>Sau khi <span>vào website</span>, sử dụng dễ dàng với 3 bước: Tìm xe - Liên hệ - Trả xe</p>
            <div class="owl-carousel owl-theme " id="manualsct">
                <div class="item" data-dot="
              <button>1</button>
              <h2>Đăng ký thuê xe</h2>
              <p>Chạm vào nút ''Mở khóa'' và quét mã QR trên xe đạp/khóa xe để tự động mở khóa.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
                <div class="item"
                     data-dot="

                  <button>2</button>
                  <h2>liên hệ</h2>
                  <p>Tận hưởng chuyến đi, nên đội mũ bảo hiểm và tuân thủ luật giao thông. Trong quá trình sử dụng bạn có thể khóa xe tạm thời và mở lại bất kì lúc nào bằng ứng dụng di động.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
                <div class="item"
                     data-dot="

                      <button>3</button>
                      <h2>Trả xe</h2>
                      <p>Trả xe đạp về trạm TNGo bất kỳ. Thực hiện đóng khóa xe và xác nhận kết thúc chuyến đi trên ứng dụng TNGo.</p>">
          <img src="~/img/review.jpg" alt="">
        </div>
            </div>
        </div>
    </div>
</section>


